/* @import url("styles/colors.css"); */

*,
*:after,
*:before {
  box-sizing              : border-box;
  -webkit-font-smoothing  : antialiased;
  font-smoothing          : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

body {
  margin         : 0px;
  padding        : 0;
  color          : var(--dark);
  font           : 400 15px/22px 'Open Sans',
                   'Helvetica Neue',
                   Sans-serif;
  font-weight    : lighter;
  font-smoothing : antialiased;
}

h1 {
  padding       : 20px;
  color         : #eee;
  border-bottom : 1px solid #eac7df;
  background    : #333;
}

h2 {
  width       : 77%;
  margin      : 0 auto;
  font-size   : 16px;
  font-weight : 400;
}
